{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/youtube_64.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_lib/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/pure.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/pure.response.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cate.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
    {% if not debug %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101956048-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
  </head>

  {% block nav %}
  <div class="outside">
    <div class="pure-g outside-div">
      <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2 youtube-header">
        <a class="header-a" href="/">
          <img id="youtube-img" src="{% static "imgs/youtube.png" %}"/>
        </a>
        <div id="best-title">
          <span id="youtube-title">Best YouTube Classified</span>
          <div class="twitter-div"><a href="https://twitter.com/youtubeclassifi" class="twitter-follow-button" data-show-count="false">Follow @youtubeclassifi</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        </div> <!-- end for humans -->
      </div> <!-- end youtube-header -->
    </div> <!-- end pure-g -->
    <div class="cate-search">
      <div class="pure-g search-cate-div">
        <div class="pure-u-21-24 pure-u-sm-21-24 pure-u-md-21-24 pure-u-lg-21-24 pure-u-xl-21-24 select-cate-div">
          <div class="control-group">
            <label for="select-cate"></label>
            <select id="select-cate" class="select-category" placeholder="Select a Category...">
            </select>
          </div> <!-- end control-group -->
          <a class="sub-tags" target="_blank" href="/subcategory/Comedian/"><span>Comedian</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/General-Science/"><span>General-Science</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/Worldwide/"><span>Worldwide</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/Video-Games/"><span>Video-Games</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/Tech-Products/"><span>Tech-Products</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/Cooking/"><span>Cooking</span></a>
          <a class="sub-tags" target="_blank" href="/subcategory/Hip-hop/"><span>Hip-hop</span></a>
        </div> <!-- end pure-u-1 -->
      </div> <!-- end pure-g -->
    </div> <!-- end cate-search -->
  {% endblock %}

  {% block subscribe %}
    <div class="subscribe-form">
      <form class="pure-form pure-g" id="subscribe-form">
        <div class="pure-u-2-3 pure-u-md-2-3 subscribe-form-div">
        <fieldset>
            <legend id="sub-legend">Get Trending channel you may intersted!</legend>
            <input id="subscribe-email" class="pure-u-20-24 pure-u-md-10-24" placeholder="Email Address" type="email">
            <button type="button" id="subscribe-email-btn" class="pure-button pure-button-primary pure-u-2-3 pure-u-md-4-24">Subscribe</button>
            </div>
        </fieldset>
      </form>
    </div> <!-- end form-div -->
  </div> <!-- end sub_form -->
  <div class="on-github">
  </div>
  {% endblock %}
  </div> <!-- end outside -->
  

  {% block content %}
  {% endblock %}
  
  {% block slider %}
  <div class="slider-title">
    <h2>Suggested Websites</h2>
  </div>
  <div class="slider responsive">
    <div class="slider-div">
      <h2 class="slider-h3"></h2>
    </div>
    <div class="slider-div">
      <h2 class="slider-h3"></h2>
    </div>
    <div class="slider-div">
      <h2 class="slider-h3"></h2>
    </div>
  </div>
  <div class="slider-footer">
    <a href="mailto:contact@youtubeclassified.com?subject=Website/Book/Store?"><p>Add Resources?</p></a>
  </div>
  {% endblock %}

  {% block sub %}
  <div class="sub-form">
      <h1>Add Channels You love!</h1>
      <form class="pure-form pure-g" id="recommend-form">
        <div class="pure-u-20-24 pure-u-md-1-2 form-div">
        <fieldset class="pure-group">
          <input type="email" class="pure-input-1 sub-email" placeholder="* Your Email" required>
          <input type="text" class="pure-input-1 sub-text" placeholder="* Category e.g. Design or Science" required >
          <textarea class="pure-input-1 sub-textarea" required placeholder="* Channel name, url and your reason of recommendation."></textarea>
        </fieldset>
        <button type="button" class="sub-btn pure-button pure-input-1 pure-button-primary">Submit</button>
        <a target="_blank" href="https://github.com/Windsooon/awesome-youtube-category">Contribute on Github</a>
      </form>
    </div> <!-- end form-div -->
  </div> <!-- end sub_form -->
  <div class="on-github">
  </div>
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/js_lib/slick.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/cate.js' %}"></script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  {% block slider_scripts %}
  <script src="{% static 'js/slider.js' %}"></script>
  {% endblock %}
  </body>
  {% block footer %}
  <footer>
    <div class="base-footer">
      <div class="pure-g footer-div">
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="mailto:contact@youtubeclassified.com?subject=Hello"><h4>Suggestions?</h4></a>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="/why/"><h4>Why Us?</h4></a>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <p>© 2017 - Unicooo</p>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}

</html>
