{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}Best Youtube Classified{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="cate-content">
</div> <!-- end country-content -->
{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        get_category("/api/outer/", $(".cate-content"), "category"); 
    });
</script>
{% endblock %}
