{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}{{title}} - Best Youtube Classified{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="cate-content">
</div> <!-- end country-content -->
{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_category("/api/inner/?category=" + title , $(".cate-content"), "/subcategory"); 
    });

</script>
{% endblock %}
