{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}{{title}} - Best Youtube Classified{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="why-us">
  <div class="pure-g why-outside-div">
    <div class="pure-u-20-24 pure-md-20-24 why-inside-div">
      <h1>Why Us?</h1>
      <h3>It is of no question that YouTube is awesome, with more than 500 million fun channels to discover. However, as the quantity of the channels grow, new channels face the challenge of standing out, while users face the difficulty of finding the ones that suit their interest.<br>
      For example, where are all the fun gaming channels at? You’ll have to do some research to find out. The good news is, we are here to help! We collect, classify, and update all that YouTube has to offer. If you are a YouTube newbie who don’t quite know what channels to subscribe, this is a great site to explore where all your interests lie. If you are a YouTube master, you can share your favorite channels here while finding out more channels you love.<br>
      By carefully sorting each category and picking trending channels, we are here to make life easier! :D<br>
  Check [this]( out if you wanna know more about how we build Youtube Classify 
  </h3>
    </div> <!-- end pure-u-1-1 -->
  </div> <!-- end pure-g -->
</div> <!-- end why-us -->
{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script>
</script>
{% endblock %}
