@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    background-color: #f2f2f2;
    line-height: 1.5;
    color: #555;
}

#youtube-title {
  font-weight: bold;
  color: #333;
  font-size: 2.4em;
}

.outside {
    padding-top: 20px;
    background-color: white;
}

.header-a {
    width: 150px;
    display: inline-block;
}

#youtube-img {
    max-width: 100%;
}

a {
    color: #555;
}

h1, h2, strong {
  color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

.youtube-header {
    margin: 0 auto;
    text-align: center;
}

.youtube-img {
    margin: 0 auto;
}

.footer-div {
    text-align: center;
}

.clear {
    clear: both;
}

.sub-form {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.form-div {
    margin: 0 auto;
    text-align: center;
}

.thank-you-span {
    font-size: 2em;
    color: #0078e7;
}

.selectize-input {
    border: 1px solid #555;
}

.subscribe-form-div {
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 6px 9px #ccc;
    background: -webkit-linear-gradient(left, #f68084,  #3498DB, #2980B9);
    background: -moz-linear-gradient(left top, red , #fe5c03);
    background: -ms-linear-gradient(left top, red , #fe5c03);
}

.subscribe-form {
    margin-bottom: 40px;
    padding-bottom: 30px;
}

#sub-legend {
    font-size: 2.3vw;
    color: white;
}

#best-title {
    text-align: center;
}

.why-us {
    margin-top: 40px;
    margin-bottom: 40px;
}

.why-inside-div {
    margin: 0 auto;
}

.why-inside-div h1 {
    text-align: center;
}

.why-outside-div {
    width: 90%;
    background-color: white;
    margin: 0 auto;
}

.search-name {
    color: #e35336;
}

.search-outer {
    color: grey;
}

.twitter-div {
    text-align: center;
}

.sub-tags {
    margin-right: 15px;
}

.details-title-link {
    color: #0078e7;
}
