.video-title-div {
    margin-bottom: 15px;
}

.channel-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

#channel-header-img-wrapper {
    margin: 0 auto;
    display: inline-block;
}

#channel-header-img {
    text-align: center;
}

.channel-pure {
    margin: 0 auto;
    width: 90%;
    background-color: white;
}

#channel-src {
    max-width: 100%;
    border-radius: 50%;
}

#channel-header-text {
    font-size: 40px;
    font-weight: bold;
}

#channel-header-title {
    display: inline-block;
}

#channel-header-sub {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

#channel-sub-text {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

#channel-header-content {
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#channel-header-outside {
    margin-top: 30px;
}

#channel-sub-img-span {
    display: inline-block;
    width: 20px;
}

.channel-header-pure {
    position: relative;
}

#channel-time {
    margin-top: 20px;
    margin-bottom: 10px;
}

#channel-sub-img {
    max-width: 100%;
}

.video-outside-div {
    border: 1px solid #e4e4e4;
}

.video-outside-div:hover {
    border: 1px solid #e4e4e4;
    box-shadow: 0px 6px 4px #e4e4e4;
}

.video-header-img {
    max-width:100%;
    max-height:100%;
}

.channel-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.video-title-text {
    font-size: 1.5vw;
    font-weight: bold;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.video-des-text {
    font-size: 1.1vw;
}

.video-details-div {
    position: relative;
    min-height: 100px;
    padding: 10px;
}

.video-des-div {
    line-height: 2.5ex;
    height: 7.5ex;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-content-div {
    display: block;
    margin-bottom: 35px;
}

.video-time-span {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.video-outside-a {
    display: block;
    margin: 25px;
    padding: 10px;
    text-decoration: none;
}

.hostest-content-g, .newest-content-g, .playlist-content-g{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .channel-img {
        display: block; 
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
}

#hostest-content-title, #newest-content-title, #hostest-playlist-title{
    text-align:center;
}

.content-img-icon {
    margin-top: 20px;
}

.hostest-video, .newest-video, .playlist-intro{
    margin-bottom: 20px;
    background-color: white;
}

#channel-header-details-wrapper {
    padding: 20px;
    margin-bottom: 40px;
}

.channel-title-href {
    text-decoration: none;
}

@media only screen and (max-width: 765px) {
    .video-title-text {
        font-size: 4vw; 
    }
    #channel-header-sub {
        display: block;
        float: none !important; 
    }
}
